<div class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-top1 m-bottom1 ">© <a href="https://intc-webagency.com" target="_blank">INTC WebAgency {{ "now"|date("Y") }}</a></div>
            <div class="col-md-6">
                <ul class="social-icons style-three">
                    <li><a href="https://www.facebook.com/hostadom.mg" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>