<footer class="footer-bg texture1 m-top5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 m-top5 font-grey">
                <h4 class="font16 font-thin uppercase font-white">About Company</h4>
                <div class="title-line color"></div>
                <p class="m-bottom3">Hostadom <br />
                    Service d'hébergement web et serveur dédié VPS <br /></p>
                <ul class="address-info listitems">
                    <li><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Lot II B 16 Ampandrana Ouest Antananarivo - Madagascar</li>
                    <li><i class="fa fa-phone"></i>&nbsp;&nbsp;+261(0) 32 032 1020</li>
                    <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;support@hostadom.com</li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-12 m-top5 font-grey">
                <h4 class="font16 font-thin uppercase font-white">Support</h4>
                <div class="title-line color"></div>
                <ul class="listitems left-padd0">
                    <li id="menu-item-435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-435"><i class="fa fa-angle-right"></i>&nbsp;<a href="https://panel.hostadom.com/supporttickets.php">Support technique</a></li>
                    <li id="menu-item-438" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-438"><i class="fa fa-angle-right"></i>&nbsp;<a href="https://panel.hostadom.com/submitticket.php">Créer un ticket</a></li>
                    <li id="menu-item-439" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-438"><i class="fa fa-angle-right"></i>&nbsp;<a href="{{ path('prestataire') }}">Nos prestataires partenaires</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 m-top5 font-grey">
                <h4 class="font16 font-thin uppercase font-white">Resources</h4>
                <div class="title-line color"></div>
                <ul class="listitems left-padd0">
                    <li id="menu-item-604" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-604"><i class="fa fa-angle-right"></i>&nbsp;<a href="https://www.whois.net/">WHOIS</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 m-top5 font-grey">
                <h4 class="font16 font-thin uppercase font-white">Account</h4>
                <div class="title-line color"></div>
                <ul class="listitems left-padd0">
                    <li id="menu-item-609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-609"><i class="fa fa-angle-right"></i>&nbsp;<a href="https://panel.hostadom.com/">Control Panel – Manager</a></li>
                    <li id="menu-item-614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-614"><i class="fa fa-angle-right"></i>&nbsp;<a href="https://hostadom.net/webmail/">WebMail</a></li>
                    <li id="menu-item-705" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-705"><i class="fa fa-angle-right"></i>&nbsp;<a href="{{ path('contact') }}">Contacter Hostadom</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-6 nopadding m-top5">
            <h5 class="font-white m-bottom1"></h5>
        </div>
    </div>
</footer>