<!-- Top header bar -->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 no-dis-phone">
                <ul class="social-icons style-two">
                    <li><a href="https://www.facebook.com/hostadom.mg" target="_blank"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 text-right font-bold">
                <i class="fa fa-phone"></i> <a href="tel:+261(0) 32 032 1020">+261(0) 32 032 1020</a>
                <span>|</span>
                <i class="fa fa-envelope"></i> <a href="{{ path('contact') }}">Contact</a>
                <span>|</span>
                <a href="https://panel.hostadom.com/">Espace Client</a>
            </div>
        </div>
    </div>
</div>
<!-- end top navigation -->